.container {
  width: 1000px;
  max-width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.ant-table-wrapper {
  height: 625px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto 0;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .bottom{
  padding-bottom: 200px;
}

.pagination {
    margin-right: 50px !important;
}

.link-detail {
  text-decoration: none;
  color: black;
}

.table {
  margin-top: 40px;
  height: 350px;
}

.add-btn {
  cursor: pointer;
  border: 2px solid transparent;
  background-color:#0d6efd ;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 700;
  transition: all .2s linear;
}

.add-btn:hover {
  border-color: #0d6efd;
  background-color: #fff;
  color: #0d6efd;
}

.ant-table-pagination.ant-pagination {
  display: none;
}

.ant-pagination {
  margin: 60px auto 0 !important;
  
}